<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Usuario</title>
</head>
<body>

    <div style="text-align:center; padding:60px;">

        <h1>Crear nuevo usuario</h1>

        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            <br>

            <button type="submit" style="border-radius:5px; font-size:20px;">Guardar</button>

            <a href="{% url 'users_app:login_user' %}" >Ir a Login</a>

        </form>

    </div>

</body>
</html>